RewriteEngine On
RewriteRule ^(.*)\.html$ /index.php?page=$1 [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php?page=404 [QSA,L]

php_flag display_errors On
php_value date.timezone "America/New_York"
php_value error_log "/home/app/logs/php_error_log"
php_value  auto_prepend_file "/home/app/Classes/autoloader.php"
php_value session.save_path "/home/app/sessions/"
